<h2>
    Service Health Status
</h2>
<div class="col-sm-6">
    <table class='table table-striped'
            *ngIf='services && services.length'
            sortable>
        <thead>
            <tr>             
                <th>Status</th>                   
                <th>Url</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let service of services'> 
                <td>
                    <img *ngIf='service.isActive' src="assets/heart-beat-green.svg" width="30px" title="Is Good">
                    <img *ngIf='service.isActive==false' src="assets/heart-beat-red.svg" width="30px" title="Is Not Good">
                </td>                     
                <td>{{ service.url }}</td>          
                <td>{{ service.activeDateTime | date: 'medium' }}</td>      
            </tr>
        </tbody>
    </table>
</div>

